
body{
	text-align: center;
}

form{
	background-image: url("../images/gameover.jpg");
	width: 1008px;
	height: 610px;
	display: inline-block;
    text-align: center;
    margin-top: 35px;
}

#row1{
	padding-top: 30px;
	text-align: center;
	font-size: 20px;
}

#row2{
	padding-top: 30px;
	text-align: center;
}

#row3{
	padding-top: 50px;
	padding-left: 720px;
	text-align: center;
	color: #3cb0fd;
	font-size: 30px;
}

#title{
	color: #3cb0fd;
	text-align: center;
}

#wait{
	color: #3cb0fd;
	text-align: center;
}

#row4{
	padding-top: 15px;
	text-align: left;
	padding-left: 15px;
}

.btn {
  background: #3498db;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  width: 150px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}
